<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Adharsh Ravi</h1>
        <p>Bio and Fact sheet</p>
    </div>





<div class="row">

  <div class="col bg-warning text-danger">
    <p>
      I am a student (rising sophomore) at Brandeis University.
    </p>
    <p>
      I grew up and still live in Westborough since age 7. <br> I have previously lived in Burlington, Massachusetts until I was 6.
    </p>

    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Burlington, Massachusetts.</li>
      </ul>
      <h2>
        Places I have visited
      </h2>
      <ul>
          <li>India</li>
          <li>California</li>
          <li>United Arab Emirates</li>
      </ul>
    </div>

    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="http://www.youtube.com">Youtube</a></li>
      <li> <a href="http://www.wikipedia.org">Wikipedia</a></li>
    </ul>
  </div>

  <div class="col">
    <img src="images/MyPictureofMe.jpg"
     width="100%" alt="photo of Adharsh" >
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
